/* ✅ 선택된 노드 강조 */
.jstree-default .jstree-clicked {
 
  color: #265bc3 !important;               /* 흰색 글씨 */
  border-radius: 4px;
}

/* ✅ 마우스 올렸을 때 */
.jstree-default .jstree-hovered {
  
  border-radius: 4px;
}
